<div class="centered-content">
    <div class="title-button-row">
        <h1>Error</h1>
        <div>{{message}}</div>
        <a href="/products" class="link-button">Ir a productos</a>
    </div>
</div>