<div class="centered-content">
    <div class="title-button-row">
        <h1>Lista de productos</h1>
        {{! <a href="/addProduct" class="link-button">Cargar Producto</a> }}
        <a href="#" id="view-cart-button" class="link-button">Ver carrito</a>
    </div>
    <div class="filter-container">
        <label for="category">Categoría</label>
        <select name="category" id="filter-category">
            <option value="">Todas</option>
            <option value="Perifericos">Periféricos</option>
            <option value="Componentes">Componentes</option>
            <option value="Impresoras">Impresoras</option>
            <option value="Audio">Audio</option>
        </select>

        <label for="status">Estado</label>
        <select name="status" id="filter-status">
            <option value="">Todos</option>
            <option value="true">Disponible</option>
            <option value="false">No disponible</option>
        </select>

        <button id="filter-button">Filtrar</button>
    </div>
    <div id="product-pagination" class="pagination-container">
        <div id="product-list"></div>
        <div id="pagination-buttons" class="pagination-buttons">
            <button id="prev-button" disabled>Anterior</button>
            <span id="page-indicator">Página 1</span>
            <button id="next-button">Siguiente</button>
        </div>
    </div>
</div>